@import '../styles/common';

.manage-user {
	padding: 0;
}
table{
  margin-top: 20px;
}
tr{
  margin-top: 20px;
}
button {
  margin-top: 20px;
  padding: 3px 10px;
  cursor: pointer;
  cursor: hand;
}
